*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.nav_top{
    width: 100%;
    height: 40px;
    background-color: #00486D;
    p{
        font-family: sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 35px;
        text-align: center;
        color: #99B6C5;
    }
}
.navbar{
    width: 100%;
    height: 100px;
    background-color: #FFFFFF;
    display: flex;
    .nav_logo{
        display: flex;
        margin-left: 100px;
        display: flex;
        margin-top: 30px;
        h1{
            color: #00486D;
        }
        .collection{
            display: flex;
            .item{
                margin-top: 5px;
                list-style-type: none;
                margin-left: 50px;
                font-family: sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 35px;
                color: #00486D;
            }
        }
    }
    .nav_call{
        display: flex;
        align-items: center;
        margin-left: 350px;
        P{  
            font-family: sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 17px;
            line-height: 35px;
            letter-spacing: 0.2px;
            color: #00486D;
        }
        .nav_btn{
            width: 200px;
            height: 40px;
            margin-left: 10px;
            border: none;
            background: #00486D;
            border-radius: 4px;

            font-family: sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 35px;
            text-align: center;
            color: #FFFFFF;
        }
    }
}

.row{
    width: 100%;
    height: 115vh;
    display: flex;
    .con1{
        width: 65%;
        background-color: #E4ECF0;
        h1{
            margin-top: 130px;
            margin-left: 100px;
            font-family: 'DM Serif Text';
            font-style: normal;
            font-weight: 400;
            font-size: 55px;
            line-height: 67px;
            color: #00486D;
        }
        p{
            margin-top: 20px;
            margin-left: 100px;
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 42px;
            color: #00486D;
        }
        .con_btn{
            margin-top: 20px;
            margin-left: 100px;
            width: 200px;
            height: 40px;
            border: none;
            background: #00486D;
            border-radius: 4px;

            font-family: sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 35px;
            text-align: center;
            color: #FFFFFF;
        }
    }
    .con2{
        width: 35%;
        background-color: #00486D;
        img{
            width: 550px;
            height: 750px;
            margin-top: 50px;
            margin-left: -100px;
        }
    }
}


.section_logo{
    margin-top: 150px;
    margin-left: 100px;
    font-family: 'DM Serif Text';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 53px;
    color: #00486D;

}

.section_text{
    margin-top: 30px;
    margin-left: 100px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 42px;
    color: #00486D;

}


.container{
    width: 100%;
    height: 500px;
    display: flex;
    margin-top: 50px;
    .box{
        margin-left: 35px;
        width: 397px;
        height: 442px;
        background: #FFFFFF;
        border: 1px solid #E4ECF0;
        box-shadow: 0px 24px 24px rgba(0, 72, 109, 0.2);
        border-radius: 2px;
        .box_img{
            margin-top: 40px;
            margin-left: 30px;
        }
        p{
            margin-top: 35px;
            margin-left: 30px;
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 33px;
            color: #00486D;
            margin-top: 30px;
        }
    }
}



.content{
    width: 90%;
    height: 800px;
    margin-top: 50px;
    margin-left: 60px;
    background: url('./IMAGE\ \(43\).png') no-repeat;
    padding-top: 190px;
    .box{
        width: 423px;
        height: 491px;
        margin-left: 790px;
        background: #00486D;
        border-radius: 2px;
        padding-top: 40px;
        h1{
            margin-left: 35px;
            font-family: 'DM Serif Text';
            font-style: normal;
            font-weight: 400;
            font-size: 35px;
            line-height: 42px;
            color: #F2F6F7;
        }
        p{
            margin-top: 30px;
            margin-left: 35px;
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 19px;
            line-height: 35px;
            color: #F2F6F7;
        }
        button{
            width: 150px;
            height: 50px;
            margin-top: 30px;
            margin-left: 35px;
            border: none;
            background: #F2F6F7;
            border-radius: 2px;
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 35px;
            text-align: center;
            color: #00486D;
        }
    }
}


.bar{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    .icon1{
        margin-left: 50px;
    }
    .bar_text{
        text-align: center;
        margin-left: 250px;
        h1{
            font-family: 'DM Serif Text';
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 51px;
            text-align: center;
            color: #00486D;
        }
        p{
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 35px;
            text-align: center;
            color: #00486D;
        }
    }
    .icon2{
        margin-left: 230px;
    }
}

.collection_content_text{
    margin-top: 30px;
    margin-left: 50px;
    font-family: 'DM Serif Text';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    color: #00486D;
}


.collection_content{
    width: 100%;
    height: 400px;
    display: flex;
    .box{
        width: 397px;
        height: 510px;
        margin-top: 50px;
        margin-left: 38px;
        background: #FFFFFF;
        border: 1px solid #E4ECF0;
        box-shadow: 0px 24px 24px rgba(0, 72, 109, 0.2);
        border-radius: 2px;
        h2{
            margin-top: 17px;
            margin-left: 30px;
            font-family: 'DM Serif Text';
            font-style: normal;
            font-weight: 400;
            font-size: 25px;
            line-height: 51px;
            color: #00486D;
        }
        P{
            margin-top: 20px;
            margin-left: 30px;
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 33px;
            color: #00486D;
        }
    }
}


.footer_top{
    width: 100%;
    height: 400px;
    margin-top: 300px;
    background: #E4ECF0;
    border-radius: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h1{
        margin-top: 30px;
        font-family: 'DM Serif Text';
        font-style: normal;
        font-weight: 400;
        font-size: 44px;
        line-height: 53px;
        text-align: center;
        color: #00486D;
    }
    p{
        margin-top: 20px;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        line-height: 42px;
        text-align: center;
        color: #00486D;
    }
    button{
        width: 200px;
        height: 50px;
        margin-top: 20px;
        border: none;
        background: #00486D;
        border-radius: 4px;

        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 35px;
        text-align: center;
        color: #FFFFFF;
    }
}


.footer{
    width: 100%;
    height: 450px;
    background: #00486D;
    display: flex;
    .con{
        width: 50%;

        h1{
            margin-top: 100px;
            margin-left: 70px;
            color: #FFFFFF;
        }

        p{
            margin-top: 30px;
            margin-left: 70px;
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 19px;
            line-height: 40px;
            color: #99B6C5;
        }
        h2{
            margin-top: 100px;
            font-family: 'DM Serif Text';
            font-style: normal;
            font-weight: 400;
            font-size: 28px;
            line-height: 36px;
            color: #FFFFFF;
        }
        .input{
            width: 397px;
            height: 56px;
            margin-top: 50px;
            background: #99B6C5;
            border: 1px solid #99B6C5;
            border-radius: 2px;
            padding-left: 10px;
        }
        .input::placeholder{
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 19px;
            line-height: 35px;
            color: #00486D;
        }
    }
}


.footer_bottom{
    width: 100%;
    height: 35px;
    background: #002B41;
    p{
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 35px;
        color: #99B6C5;
        text-align: center;

    }
}
